<mat-card>

  <form [formGroup]="form" (submit)="onAdd()" >
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="name"
        minlength="3"
        placeholder="Item Name"
      />
      <mat-error *ngIf="form.get('name')?.invalid"
        >Please enter an item name.</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        rows="2"
        formControlName="details"
        placeholder="Item Details"
      ></textarea>
      <mat-error *ngIf="form.get('details')?.invalid"
        >Please enter the Item's details</mat-error
      >

    </mat-form-field>

    <button mat-raised-button  type="submit">
      Create Item
    </button>
  </form>
</mat-card>
